[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=RunInAlaSingle;
X-KDE-AuthorizeAction=shell_access
X-KDE-Priority=TopLevel

[Desktop Action RunInAlaSingle]
TryExec=alacritty
Exec=alasingle --working-directory %f
Icon=com.alacritty.Alacritty
Name=Open in Alacritty
Comment=Open in Alacritty
