@-moz-document url(chrome://browser/content/browser.xhtml) {
/* Flashbang help? */
browser {
    background-color: #333 !important;
}

/* UI Font */
* {
  font-size: 18px;
  font-family: Times New Roman Bold;
}

/* Search Context */
#openImageInNewTabContextMenuLabel {
    -moz-box-ordinal-gorup: 0 !important;
}

/* Remove urlbar glow */
#urlbar-background, #searchbar {
    border: none !important;
    box-shadow: none !important;
}

#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background, #searchbar:focus-within {
    outline: none !important;
}

/* Line on active tab */
.tab-background:is([selected],[multiselected]) {
    box-shadow: inset 0 4px #006666 !important;
}

/* Sound icon next to favicon */
.tab-icon-stack:is([muted],[soundplaying],[activemedia-blocked]) {
    grid-template-areas: "a s";
}
.tab-icon-overlay:is([muted],[soundplaying],[activemedia-blocked]) {
    grid-area: s;
}
.tab-icon-overlay,.tab-icon-image {
    opacity: 1 !important;
}
.tab-secondary-label {
    display: none
}

    /* [Connected Tabs] Set a max height based on min-height plus margin-block: 1px 0 */
#TabsToolbar, #TabsToolbar > hbox, #TabsToolbar-customization-target, #tabbrowser-arrowscrollbox  {
    max-height: calc(var(--tab-min-height) + 1px) !important;
}
#TabsToolbar-customization-target toolbarbutton > .toolbarbutton-icon,
#TabsToolbar-customization-target .toolbarbutton-text,
#TabsToolbar-customization-target .toolbarbutton-badge-stack,
#scrollbutton-up,#scrollbutton-down {
    padding-top: 7px !important;
    padding-bottom: 6px !important;
}

/* Hide Extension Name in the identity area */
#identity-icon-label {
  display: none !important;
}
}