[Unit]
Description=EasyEffects
Requires=pipewire.service
After=pipewire.service

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 3
ExecStart=easyeffects --service-mode --hide-window
Restart=on-failure

[Install]
WantedBy=pipewire.service
